@charset "UTF-8";

body {
    background-color: rgba(187, 79, 30, 0.74);
    font: Normal 15pt Arial;
}
header {
    color: white;
    text-align: center;
}
header > h1:hover {
    color: rgba(255, 255, 2, 0.733);
    text-shadow: 5px 5px 5px black;
}
section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
section > div {
    font-weight: bold;
}
input#txtano {
    padding: 6px;
}
input#btn {
    padding: 2px;
    width: 150px;
    background-color: rgba(187, 79, 30, 0.74);
    font: bolder 12pt Arial;
    color: white;
}
input#btn:hover {
    color: rgba(255, 255, 2, 0.733);
    text-shadow: 5px 5px 5px black;
    text-transform: uppercase;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}
footer:hover {
    color: rgba(0, 0, 255, 0.575);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
}